version: "3.8"

services:
  matfrem:
    image: ${DOCKER_REGISTRY-}matfrem
    build:
      context: .
      dockerfile: MatFrem/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=mariadb;Database=MatFremBase;User=root;Password=Testingtesting1234
      - ConnectionStrings__IdentityConnection=Server=mariadb;Database=AuthMatFremBase;User=root;Password=Testingtesting1234
      #Need to provide two connection if you have two, one if you have one, etc
      #Conntection string name (DefaultConnection and IdentityConnection in this case) must match the configuration string that is in program.cs
    depends_on:
      - mariadb
    restart: always

  mariadb:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Testingtesting1234
      MYSQL_DATABASE: MatFremBase
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
