@model MatFrem.Models.ViewModel.CreateProfileViewModel

﻿
<head>
    <link href="~/css/RegsLoginStyle.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<div class="wrapper">
    <form method="post"> <!-- no need to declear controller, it already know, name of html is the controller -->
        <h1>Registrering</h1>

        <div class="input-box">
            <input type="text" placeholder="Brukernavn" asp-for="Username" required>
            <i class="bx bxs-user"></i>
        </div>

        <!-- Username Field -->
        <div class="input-box">
            <input type="text" placeholder="Fornavn" asp-for="FirstName" required>
            <i class="bx bxs-user"></i>
        </div>

        <div class="input-box">
            <input type="text" placeholder="Etternavn" asp-for="LastName" required>
            <i class="bx bxs-user"></i>
        </div>

        <div class="input-box">
            <input type="text" placeholder="Phone number" asp-for="PhoneNr" required>
            <i class="bx bxs-user"></i>
        </div>

        <!-- Email Field -->
        <div class="input-box">
            <input type="email" placeholder="E-post" asp-for="Email" required>
            <i class="bx bxs-envelope"></i>
        </div>

        <!-- Password Field -->
        <div class="input-box">
            <input type="password" placeholder="Passord" asp-for="Password" required>
            <i class="bx bxs-lock-alt"></i>
        </div>

        <!-- Confirm Password Field -->
        <div class="input-box">
            <input type="password" placeholder="Bekreft passord" asp-for="ConfirmPassword" required>
            <i class="bx bxs-lock"></i>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn">Registrer deg</button>

        <!-- Link to Login Page -->
        <div class="register-link">
            <p>
                Har du allerede en konto?
                <a asp-controller="ProfileManagement" asp-action="Login">Logg inn</a>
            </p>
        </div>
    </form>
</div>