
<div class="text-center">
    <h1 class="display-4">Ditt forslag er registrert, tusen takk</h1>
</div>
<body style="background-image: url('../images/foodsmiley.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
</body>

