@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/homeStyle.css" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Mat frem på 1, 2 , 3</h1>
    <p>Få matvarer levert hjem til<a asp-controller="Market" asp-action="Shopping" > deg </a></p>
</div>
