@model MatFrem.Models.ViewModel.EditViewTable
<head>
    <title> Rapport oversikt </title>
    <link href="~/css/formscheme.css" rel="stylesheet" />
</head>

<body>
    <div class="contact-container">
        <form method="post" class="contact-left" asp-controller="Location" asp-action="ViewIndexTable">
        <div class="contact-left-title">
            <h2> Oppdater skjerma </h2>
                    <hr>
                </div>

            <input type="text" class="contact-inputs" placeholder="Rapport ID" asp-for="LocationReportID" readonly />

           <input type="text" class="contact-inputs form-control" placeholder="Geo Json" asp-for="GeoJson" readonly />
           
            <input type="text" class="contact-inputs form-control" placeholder="Dato" asp-for="Date" />

           <textarea class="contact-inputs" placeholder="Din melding" cols="30" rows="10" asp-for="LocationMessage"></textarea>

                <button type="submit" class="btn btn-dark">
                    <img src="~/Images/arrow_icon.png" alt="arrow icon"> Oppdater
                </button>

                </form>
            
            <div class="contact-right">
                <img src="~/Images/right_img.png" alt="Image">
            </div>
        </div>
</body>












		